*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    background-color: #F5F5DC;
    min-height: 100dvh;
    padding: 20px;
}

.grid {
    flex: 1 1 95vh;
    max-height: 95vh;
    max-width: 95vh;
    border: 3px solid black;
    background-color: white;
}

.row-container {
    display:flex
}

.grid-square {
    flex: 1;
    margin: 0;
    aspect-ratio: 1;
}

.button {
    padding: 8px;
    margin: 0 16px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 8px;
}

.reset-button {
    height: 50px;
}

.reset-button .image {
    width: 30px;
    height: 30px;
}

.container-side {
    flex: 1 1 0;
    max-height: 95vh;
    align-self: stretch;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px 0;
    gap: 16px;
}